h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: 400;
  display: inline;
}

.titleContainer {
  padding: 1.5em;
}

.toggleColourModeButtonPaper {
  width: 52px;
  height: 52px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  position: absolute;
  top: 18px;
  right: 18px;
}

.sourceCodePosiioning {
  position: absolute;
  bottom: 18px;
  left: 50%;
  transform: translate(-50%, 0%);
}